<div>

<div style="position:relative" ng-click="focusGlyph(glyph.id)" ng-dblclick="toggleGlyph(glyph)">
  <img data-toggle="tooltip" data-placement="right" title="{{::glyph.pos}}" ng-src="{{::glyph.url}}"
  style="{{glyphOpacity(glyph)}}"/>
  <div style="border-top:solid red 1px;position:absolute;bottom:0px;height:{{glyph.baselineOffset}}px;width:100%"></div>
</div>

<div ng-show="isFocused(glyph.id)">
  <input style="color:red;width:4em" type="number" ng-model="glyph.baselineOffset"/>
</div>

</div>